---
import { SITE, LINKS } from "../consts";
import { cn } from "../lib/utils";
const { pathname } = Astro.url;
const subpath = pathname.match(/[^/]+/g);
import Container from "./Container.astro";
import "../styles/global.css";
import "../styles/header.css";
---

<header id="header">
  <div class="header-container">
    <div class="header-logo">
      <a href="/frontend/public" class="header-logo-link">
        <svg class="size-6 fill-current">
          <use href="brand.svg#brand"></use>
        </svg>
        <div class="header-logo-text">
          {SITE.TITLE}
        </div>
      </a>
    </div>

    <nav class="header-nav hidden md:flex">
      {
        LINKS.map((LINK) => (
            <a href={LINK.HREF} class={cn(
                "header-nav-link",
                pathname === LINK.HREF || "/" + subpath?.[0] === LINK.HREF ? "header-nav-link-active" : "header-nav-link-hover"
            )}>
              {LINK.TEXT}
            </a>
        ))
      }
    </nav>

    <!-- Hamburger Menu Icon -->
    <div class="md:hidden flex items-center">
      <button id="menu-button" class="menu-button">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>

    <!-- Responsive Menu -->
    <div id="menu" class="menu hidden md:hidden absolute top-16 left-0 w-full bg-white dark:bg-black shadow-md">
      {
        LINKS.map((LINK) => (
            <a href={LINK.HREF} class={cn(
                "menu-item",
                pathname === LINK.HREF || "/" + subpath?.[0] === LINK.HREF ? "menu-item-active" : "menu-item-hover"
            )}>
              {LINK.TEXT}
            </a>
        ))
      }
    </div>
  </div>
</header>

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const header = document.getElementById('header');
    const menuButton = document.getElementById('menu-button');
    const menu = document.getElementById('menu');

    function handleScroll() {
      if (window.scrollY > 0) {
        header.classList.add('scrolled');
      } else {
        header.classList.remove('scrolled');
      }
    }

    menuButton.addEventListener('click', () => {
      menu.classList.toggle('hidden');
    });

    window.addEventListener('scroll', handleScroll);
    window.addEventListener('resize', () => {
      if (window.innerWidth >= 768) {
        menu.classList.add('hidden');
      }
    });

    // Initial check
    handleScroll();
  });
</script>
